html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, a {
    margin: 0;
    padding: 0;
}

html, body {
    color: #333333;
    font-family: Verdana, Geneva, sans-serif;
    height: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); /* border on the bottom of header so the content can go "under" it */
    background: rgba(242, 242, 242, 1); /* no alpha so that the content scrolling under can't be seen */
    position: relative;
    padding: 10px;
    width: 100%;
    z-index: 999;
    text-align: center;

    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.4);
}

header h1 {
    font-weight: bold;
    margin-bottom: 5px;
}

header span {
    width: 100%;
    display: block;
    margin-left: 2px;
    font-size: .8em;
}
.content {
    width: 960px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid rgba(0, 0, 0, 0.15); /* solid border */
    border-right: 1px solid rgba(0, 0, 0, 0.15); /* solid border */
}

.content a.back {
    float: right;
    font-size: .9em;
}

.example-list li {
    list-style: none;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.25); /* solid border */
    border-radius: 3px;
}

.example-list a {
    padding: 5px;
    display: block;
    text-decoration: none;
    background-color: #EEE;
}

.example-list span {
    display: block;
    padding: 10px;
}